{% extends "base.html" %}
{% load static %}
{% load account_tags %}

{% block title %}Account | Amar Shop{% endblock title %}

{% block content %}
<!-----------account page-------------->
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static '/images/others/image1.png' %}" alt="">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span class="log-reg-btn" id="login">Login</span>
                        <span class="log-reg-btn" id="register">Register</span>
                        <hr id="indicator">
                    </div>
                    {% comment %} <!------'next=request.get_full_path' will return the current url as get request for redirecting to next page after login -----> {% endcomment %}
                    <form action="{% url 'account:login' %}?next={{request.get_full_path|next_page_url}}" method="POST" id="login-form">
                        {% csrf_token %}
                        <input type="text" name="phone" placeholder="phone number *">
                        <input type="password" name="password" placeholder="password *">
                        <span class="check-span">stay logged in? <input type="checkbox" id="check" name="remember"></span>
                        <input type="submit" class="btn" value="Login">
                        <a href="">Forgot password</a>
                    </form>

                    <form action="{% url 'account:register' %}" method="POST" id="register-form">
                        {% csrf_token %}
                        <input type="number" name="phone" placeholder="phone number *" required>
                        <input type="email" name="email" placeholder="email">
                        <input type="password" name="password" placeholder="password *" required>
                        <input type="password" name="password2" placeholder="confirm password *" required>
                        <input type="submit" class="btn" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}