{% extends "base.html" %}
{% load static %}

{% block title %}Profile{% endblock title %}
{% block content %}
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2 pro-col">
                <button class="button" onclick="profile()">Profile</button>
                <button class="button" onclick="change_pass()">Change Pasword</button>
                <button class="button" onclick="address()">Address</button>
                <button class="button">Orders</button>
            </div>

            {% comment %} <!--------profile address section---------> {% endcomment %}
            <div class="col-2 pro-col" id="profile-section">
                <h2 class="title">Profile Info: </h2>
                {% if address %}
                <table>
                    <tr>
                        <td><strong>Name : </strong></td>
                        <td>{{address.name}}</td>
                    </tr>
                    <tr>
                        <td><strong>Phone : </strong></td>
                        <td>{{address.phone}}</td>
                    </tr>
                    <tr>
                        <td><strong>District : </strong></td>
                        <td>{{address.district}}</td>
                    </tr>
                    <tr>
                        <td><strong>City : </strong></td>
                        <td>{{address.city}}</td>
                    </tr>
                    <tr>
                        <td><strong>Address : </strong></td>
                        <td>{{address.address}}</td>
                    </tr>
                </table>
                {% endif %}
            </div>

            <!-- -----change password section ----- -->
            <div class="col-2 pro-col" id="change-pass-section" style="display: none;">
                <h2 class="title">Change Password: </h2>
                <form action="{% url 'account:change-password' %}" method="POST">
                    {% csrf_token %}
                    <label for="password">Previous Password: </label>
                    <input type="password" id="password"  name="pre-pass" placeholder="Previous Password *" required>

                    <label for="new">New Password: </label>
                    <input type="password" id="new" name="new-pass" placeholder="New Password" required>

                    <label for="new2">Confirm New Password: </label>
                    <input type="password" id="new2" name="new-pass2" placeholder="Confirm New Password" required>

                    <input type="submit" class="btn">
                </form>
            </div>
            
            <!-- -----add address section ----- -->
            <div class="col-2 pro-col" id="address-section" style="display: none;">
                <h2 class="title">Shipping Address Info: </h2>

                <div class="small-container">
                    <div class="row">
                        {% if all_cus %}
                        {% for customer in all_cus %}
                        <div class="col-4" style="text-align: left; flex-basis: 49%;">
                            <h3 class="">{% if forloop.counter == 1 %}Default Address {% else %} Address : {{ forloop.counter }} {% endif %}</h3>
                            <p>Name :     <span>{{customer.name}}</span></p>
                            <p>District : <span>{{customer.district}}</span></p>
                            <p>City :     <span>{{customer.city}}</span></p>
                            <p>Adress:    <span>{{customer.address}}</span></p>
                            <p>Phone :    <span>{{customer.phone}}</span></p>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <button class="button" onclick="show_add_address_form()">Add More Address</button>
                </div>

                <!------add address form------>
                <form action="{% url 'account:add-address' %}" method="POST" id="add-address-form" style="display: none;">
                    {% csrf_token %}
                    <label for="name">Name: </label>
                    <input type="text" id="name"  name="name" placeholder="name *" required>

                    <label for="phone">Phone: </label>
                    <input type="number" name="phone" placeholder="phone number" required>
                    
                    <label for="district">District</label>
                    <select name="district" id="district">
                        {% if districts %}
                        {% for dis_val, district in districts %}
                          <option value="{{dis_val}}">{{district}}</option>
                        {% endfor %}
                        {% endif %}
                    </select>

                    <label for="city">City</label>
                    <select name="city" id="city">
                        {% if cities %}
                        {% for city_val, city in cities %}
                          <option value="{{city_val}}">{{city}}</option>
                        {% endfor %}
                        {% endif %}
                    </select>

                    <label for="address">Address: </label>
                    <textarea name="address" id="address"></textarea>

                    <input type="submit" class="btn">
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock content %}