{% extends "base.html" %}
{% load static %}


{% block content %}
<!---------cart details------------>
<div class="small-container cart-page" id="cart-main-container">
    {% if carts %}
    <table>
        <thead id="temp">
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </thead>
        
        {% for cart in carts %}
        <tr>
            <td>
                <div class="cart-info">
                    {% with cart.product.image.all|first as image %}
                        <img src="{{image.get_url}}"/>
                    {% endwith %}
                    <div class="">
                        <p>{{cart.product.title}}</p>
                        <small>&#2547; {{cart.product.discount_price}}</small>
                        <br>
                        <p class="remove" product_id="{{cart.product.product_id}}">Remove</p>
                    </div>
                </div>
            </td>
            <td id="cart-quantity">
                <span><i class="fa fa-minus-square quantity-decrease" product_id="{{cart.product.product_id}}"></i></span>
                    <p class="quantity">{{cart.quantity}}</p>
                <span><i class="fa fa-plus-square quantity-increase" product_id="{{cart.product.product_id}}"></i></i></span>
            </td>
            <td>&#2547; {{cart.get_sub_total}}</td>
        </tr>
        {% endfor %}
        
    </table>
    
    
    <div class="total-price" id="total-price">
        <table>
            <tr>
                <td>Subtotal</td>
                <td id="sub-total">&#2547; {{sub_total}}</td>
            </tr>
            <tr>
                <td>Shiping Charge</td>
                <td>&#2547; {{shiping}}</td>
            </tr>
            <tr>
                <td>Total</td>
                <td id="total">&#2547; {{total_cost}}</td>
            </tr>
        </table>
    </div>
    {% else %}
    <div class="small-container">
        <div class="empty-cart">
            <h3>You don't have any products in your cart!</h3>
        </div>
        <br>
        <a href="{% url 'shop:products' %}" class="btn">Continue Shoping</a>
    </div>
    {% endif %}
</div>
{% endblock content %}