{% extends "base.html" %}
{% load static %}


{% block content %}
<!---------cart details------------>
<div class="small-container cart-page" id="cart-main-container">
    {% if CART %}
    {% if carts %}
    <table>
        <thead id="temp">
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </thead>
        
        {% for cart in carts %}
        <tr>
            <td>
                <div class="cart-info">
                    {% with cart.product.image.all|first as image %}
                        <img src="{{image.get_url}}"/>
                    {% endwith %}
                    <div class="">
                        <p>{{cart.product.title}}</p>
                        <small>&#2547; {{cart.product.discount_price}}</small>
                        <br>
                        <p class="remove" product_id="{{cart.product.product_id}}">Remove</p>
                    </div>
                </div>
            </td>
            <td id="cart-quantity">
                <span><i class="fa fa-minus-square quantity-decrease" product_id="{{cart.product.product_id}}"></i></span>
                    <p class="quantity">{{cart.quantity}}</p>
                <span><i class="fa fa-plus-square quantity-increase" product_id="{{cart.product.product_id}}"></i></i></span>
            </td>
            <td>&#2547; {{cart.get_sub_total}}</td>
        </tr>
        {% endfor %}
        
    </table>
    
    
    <div class="total-price" id="total-price">
        <table>
            <tr>
                <td>Subtotal</td>
                <td id="sub-total">&#2547; {{sub_total}}</td>
            </tr>
            <tr>
                <td>Shiping Charge</td>
                <td>&#2547; {{shiping}}</td>
            </tr>
            <tr>
                <td>Total</td>
                <td id="total">&#2547; <strong>{{total_cost}}</strong></td>
            </tr>
            <tr>
                <td id="blank-td"></td>
                <td>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn" name="checkout">Checkout</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    {% else %}
    <div class="small-container">
        <div class="empty-cart">
            <h3>You don't have any products in your cart!</h3>
        </div>
        <br>
        <a href="{% url 'shop:products' %}" class="btn">Continue Shoping</a>
    </div>
    {% endif %}
    {% endif %}
</div>


<!-----address-------->
<div class="small-container">
    {% if CHECKOUT %}
    <div class="row">
        {% if customers %}
        {% for customer in customers %}
        <div class="col-4" style="text-align: left; flex-basis: 49%;">
            <input type="radio" name="customer-id" value="{{customer.customer_id}}" style="margin: -20px 0px 20px 0px;">
            <label for="">select</label>
            <h3 class="">Address: {{ forloop.counter }}</h3>
            <p>Name :     <span>{{customer.name}}</span></p>
            <p>District : <span>{{customer.district}}</span></p>
            <p>City :     <span>{{customer.city}}</span></p>
            <p>Adress:    <span>{{customer.address}}</span></p>
            <p>Phone :    <span>{{customer.phone}}</span></p>
        </div>
        {% endfor %}
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn" name="address" onclick="display_payment_section()">Next</button>
        </form>
        <div class="col-4" style="text-align: left; flex-basis: 49%;">
            <a href="#" class="btn">Add another address></a>
        </div>
    </div>
    {% endif %}

    {% comment %} <!-----payment-------> {% endcomment %}
    {% if ADDRESS %}
    <div class="row">
        <div class="col-4" style="text-align: left; flex-basis: 98%;">
            <h3 class="" style="margin-bottom: 15px;">Select payment method: </h3>
            
            <div>
                <input type="radio" id="cod" name="payment" value="cod" onchange="cod()" checked>
                <label for="cod">Cash On Delivery</label>
                <div id="after-pay-cod" style="margin-left: 15px;">
                    <p>You can pay when you get the product at your doorstep. <br>please keep ready (&#2547;<strong>{{total_cost}}</strong>)</p>
                    <a href="#" class="btn">Order confirm</a>
                </div>
            </div>
            <hr style="margin-bottom: 12px; margin-top: 5px;">
            <div>
                <input type="radio" id="bkash" name="payment" value="bkash" onchange="bkash()">
                <label for="bkash">Bkash (personal)</label>
                <div id="after-pay-bkash" style="margin-left: 15px; display: none;">
                    <p>Send money to this bkash number <br>(<strong> 01910-605131 </strong>) and then enter the transection id and your bkash number below.
                    <br>then your order will be accepted.</p>
                    
                    <form action="" style="width: 90%;">
                        <input type="text" placeholder="phone number">
                        <input type="text" placeholder="transection id">
                        <input type="submit">
                    </form>
                </div>
            </div>
            <hr style="margin-bottom: 12px; margin-top: 5px;">
            <div>
                <input type="radio" id="nagad" name="payment" value="nagad" onchange="nagad()">
                <label for="nagad">Nagad (personal)</label>
                <div id="after-pay-nagad" style="margin-left: 15px; display: none;">
                    <p>Send money to this Nagad number <br>(<strong> 01910-605131 </strong>) and then enter the transection id and your bkash number below.
                    <br>then your order will be accepted.</p>
                    
                    <form action="" style="width: 90%;">
                        <input type="text" placeholder="phone number">
                        <input type="text" placeholder="transection id">
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>



{% endblock content %}