{% extends "base.html" %}
{% load static %}

{% block content %}
{% comment %} <!------product details ---------> {% endcomment %}
<div class="small-container single-product">
    {% if object %}
    <div class="row">
        <div class="col-2">
            {% with object.image.all|first as image %}
                <img src="{{image.get_url}}" id="product-img" />
            {% endwith %}
            <div class="small-img-row">
                {% for image in object.image.all %}
                <div class="small-img-col">
                    <img src="{{image.get_url}}" class="small-img" width="100%" alt="">
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-2">
            <p style="margin-bottom: 15px; font-weight: 500;"><a href="{% url 'shop:home' %}">Home</a> / <a href="{% url 'shop:products' %}">Products</a> / <span style="color: black; font-weight: 400;">{{object.title}}</span></p>
            <h2>{{object.title}}</h2>
            <h4 class="offer-price">Offer Price: &#2547; <strong>{{object.discount_price}}</strong></h4>
            <p>Regular Price: &#2547; <strike>{{object.regular_price}}</strike></p>
            <!-- <input type="number" value="1" disabled> -->
            {% if object.is_available %}
                <a href="/add-to-cart/{{object.product_id}}/" class="btn">Add to cart</a>
            {% else %}
                <a href="#" class="btn" style="pointer-events: none;">Not Available</a>
            {% endif %}

            <h3>Product Discription <i class="fa fa-indent" aria-hidden="true"></i></h3>
            <br>
            <p>{{object.description}}</p>
        </div>
    </div>
    {% endif %}
</div>


<div class="small-container">
    <div class="row row-2">
        <h2>Related Products</h2>
        <p><a href="">View More &#8594;</a></p>
    </div>
</div>



{% comment %} <!------related products---------> {% endcomment %}
<div class="small-container">
    <div class="row">
        <div class="col-4">
            <img src="{% static '/images/others/product-1.jpg' %}" alt="">
            <h4>Red Printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>$50.00</p>
        </div>

        <div class="col-4">
            <img src="{% static '/images/others/product-2.jpg' %}" alt="">
            <h4>Red Printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>$50.00</p>
        </div>

        <div class="col-4">
            <img src="{% static '/images/others/product-3.jpg' %}" alt="">
            <h4>Red Printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>$50.00</p>
        </div>

        <div class="col-4">
            <img src="{% static '/images/others/product-4.jpg' %}" alt="">
            <h4>Red Printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>$50.00</p>
        </div>
    </div>
</div>
{% endblock content %}
