{% extends "base.html" %}
{% load static %}

{% block title %}Products | Amar Shop{% endblock title %}

{% block content %}
{% comment %} <!------all products---------> {% endcomment %}
<div class="small-container">
    <div class="row row-2">
        <h2 style="color: #555;">All Products</h2>
        <select name="" id="">
            <option value="default">default sort</option>
            <option value="byPrice">sort by price</option>
            <option value="bypopularity">sort by popularity</option>
            <option value="byDiscount">sort by discount</option>
            <option value="byRating">sort by rating</option>
        </select>
    </div>

    <div class="row">
        {% if object_list %}
        {% for product in object_list %}
        <div class="col-4">
            {% with product.image.all|first as image %}
                <a href="/product/{{product.product_id}}"><img src="{{image.get_url}}"/></a>
            {% endwith %}
            <h4><a href="/product/{{product.product_id}}">{{product.title}}</a></h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>&#2547; {{product.discount_price}}</p>
        </div>     
        {% endfor %}   
        {% endif %}
    </div>

    {% if is_paginated %}
    <div class="page-btn">
        {% if page_obj.has_previous %}<span><a href="?page={{ page_obj.previous_page_number }}">&#8592;</a></span>{% endif %}
        <span><a href="#">{{page_obj.number}}</a></span>
        {% if page_obj.has_next %}<span><a href="?page={{ page_obj.next_page_number }}">&#8594;</a></span>{% endif %}
    </div>
    {% endif %}
</div>
{% endblock content %}